.chessBoard {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    width: max-content;
    height: max-content;
    margin: auto;
}

.rowLabel {
    margin: auto 10px auto auto;
}

.columnLabel {
    margin: auto auto 10px auto;
}

.deadPieces { 
    width: max-content;
    height: max-content;
    margin:50px 20px auto auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 15px 50px;
    justify-content: center;
    align-items: center;
}

.deadPieces .black, .deadPieces .white {
    display: grid;
    grid-template-columns: repeat(17, 23px);
    border: solid 1px black;
    width: 400px;
}

.deadPieces .black {
    grid-column: 1;
    grid-row: 1;
}


.deadPieces .white {
    grid-column: 1;
    grid-row: 3;
}

.score {
    margin: auto;
}

.whiteSquare {
    background-color: white;
}

.tanSquare {
    background-color: tan;
}


img.chessman {
    width: 100%;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.available {
    display: flex;
    position: absolute;
    transform: translate(15px, 15px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(105, 102, 102, 0.548);
    margin: auto;
}

.square img.chessman .available {
    display: none;
}
