.chessBoard {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    margin: auto;
}


.whiteSquare {
    background-color: white;
}

.tanSquare {
    background-color: tan;
}


.square img.chessman {
    width: 100%;
}



.available {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-25px, -10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(105, 102, 102, 0.548);
    margin: auto;
}